body{
    background-color: aqua;
    color: rgb(98, 31, 143);
    
  }
 
  #mititulo{
      color: rgb(211, 35, 137);
      font-size: 40px;

  }

  .img{
    width: 350px;
    height: 200px;
    display: inherit;
  }
  
  a:hover{
    color: rgb(78, 201, 41);
    font-size: 20px;
    font-style: italic
  
  }
  